* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

/* nav bar start */
nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: darkslategray;
    padding: 20px;
    border-bottom: 5px solid black;
    z-index: 1;
}

.logo {
    height: 60px;
    width: 60px;
}

ul {
    display: flex;
}

li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 80px;
    height: 60px;
    padding: 10px 10px;
    margin-right: 30px;
}

li:hover {
    border-radius: 3px;
    background-color:teal;
}

.navA {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.navA:hover {
    text-decoration: underline;
}

/* nav bar end  */

main {
    background-image: url(contactIMGs/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* the entire contact container  */
.contactContainer {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    text-align: center;
    max-width: 800px;
    color: white;
}

/* info + form container  */

.infoForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/* contact info container  */
.contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.info {
    position: relative;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.icon {
    height: 60px;
    width: 60px;
    background: white;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
}

.icon img {
    height: 40px;
    width: 40px;
    position: relative;
    top: 10px;
}

.text {
    color: white;
    margin-left: 20px;
}

.text h3 {
    font-size: 25px;
    font-weight: bolder;
    color: #F5F5F5;
}

.text p {
    font-weight:600;
}

/* form container  */
.contactForm {
    width: 40%;
    padding: 40px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.contactForm h2 {
    font-size: 30px;
    color: #4C5B61;
}

.input {
    position: relative;
    width: 100%;
    margin: 10px;
}

.input input, 
.input textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    resize: none;
}

.input span {
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: black;
}

/* footer start  */
footer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 60px;
}

.media {
    height: 40px;
    padding: 0px 5px;
}

/* media query for screens like a phone  */
@media screen and (min-width: 320px) and (max-width: 480px) {
    * {
        overflow-x: hidden;
    }

    /* navbar start  */
    nav {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 70px;
    }

    .navA {
        font-size: 15px;
        font-weight: bold;
    }

    .logoA {
        display: none;
    }

    li {
        margin-right: 0px;
    }
    /* navbar end  */

    main {
        padding-top: 70px;
    }

    /* container with all three contents  */
    .infoForm {
        display: flex;
        flex-direction: column;
    }

    /* the company's contact info container  */
    .contactContainer {
        padding: 20px 0;
    }

    .contactInfo {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .info {
        display: flex;
        justify-content: center;
    }

    /* form container  */
    .contactForm {
        width: 90%;
    }
}

/* media query for screens like a tablet  */
@media screen and (min-width: 481px) and (max-width: 768px) {
    * {
        overflow-x: hidden;
    }

    /* navbar start  */
    nav {
        display: inline-flex;
        align-items: center;
        overflow: hidden;
        height: 70px;
    }

    .navA {
        font-size: 15px;
        font-weight: bold;
    }

    li {
        margin-right: 0px;
    }
    /* navbar end  */

    main {
        padding-top: 70px;
    }

    /* container with all three contents  */
    .infoForm {
        display: flex;
        flex-direction: column;
    }

    /* the company's contact info container  */
    .contactInfo {
        width: 90%;
    }

    /* form container  */
    .contactForm {
        width: 80%;
    }
}

/* media query for screens like a bigger tablet and a smaller laptop  */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    main {
        padding-top: 70px;
    }

    /* container with all three contents  */
    .infoForm {
        display: flex;
        flex-direction: column;
    }

    .contactInfo {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .info {
        display: flex;
        justify-content: center;
    }
}