* {
    margin: 0;
    padding: 0;
}

/* body {

} */

/* nav bar start */
nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: tan; 
}

.logo {
    height: 50px;
    width: 50px;
}

ul {
    display: flex;
}

li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 50px;
    padding: 0px 10px;
}

.homelink {
    background-color: rgba(0, 0, 128, 0.643);
}

.productlink {
    background-color: steelblue;
}

.contactlink {
    background-color: lightblue;
}

.homelink:hover,
.productlink:hover,
.contactlink:hover {
    background-color: black;
}

a {
    text-decoration: none;
    color: black;
    font-size: large;
}

a:hover {
    text-decoration: underline;
    color: white;
}

/* nav bar end */

main {
    padding-top: 50px;
}
